/* .indents {
    margin: 5px;
} */

/* .text {
    font-family: sans-serif;
    font-size: 30px;
    cursor: pointer;
} */

/* !!!!!!Modal!!!!!!! */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-family: sans-serif;
    height: 100vh;
    padding-top: 50px;

    position: relative;
}
a {
    margin: 10px;
}

body.open {
    overflow-y: hidden;
}

body.open > .modal-window,
body.open > .overlay {
    display: block;
}

.theme {
    color: lime;
    background-color: black;
    border: 3px solid lime;
    border-radius: 10px;
}

.open-modal-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
}

.modal-window {
    font-size: 70px;
    padding: 100px 90px;
    text-transform: uppercase;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    z-index: 99;
    display: none;
}

.close-btn {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    color: lime;
    text-decoration: underline;
    cursor: pointer;
    font-size: 20px;
    top: 15px;
    right: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* !!!!!Задачка */

.conteiner {
    width: 300px;
    background-color: gray;
    margin: auto;
    padding: 30px;
}

.title {
    text-align: center;
}

input {
    display: block;
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
    margin-top: 10px;
}

#price {
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

.amount {
    background-color: blue;
    display: inline-block;
    padding: 1px 5px;
    margin: 0 5px;
    border-radius: 3px;
    color: #fff;
}

.erorr {
    border: 2px solid red;
}
